.main-nav {
  font-size: $nav-font-size;
  background-color: steelblue;
  width: 100%;
  max-height: 50px;
  height: 100%;
  color: white;
  margin: 0;
  ul {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding: 1em;
  }
  li {
    list-style-type: none;
    padding: 5px;
    :hover {
      background-color: hotpink;
    }
  }
  a {
    color: white;
  }
}

h2 {
  font-size: $h2-size;
}

h3 {
  font-size: $h3-size;
}

p {
  font-size: $p-size;
}
